<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city "
      name="city"
      [(ngModel)]="cityname"
    />
  </form>
</div>
<body>
  <div class="container" *ngIf="weatherData">
    <div class="upper-data">
      <img
        src="../assets/cold.jfif"
        alt="cold"
        *ngIf="weatherData.main.temp > 15"
      />
      <img
        src="../assets/warm.jfif"
        alt="warm"
        *ngIf="weatherData.main.temp < 15"
      />

      <div class="weather-data">
        <div class="location">{{ weatherData.name }}</div>
        <div class="temp">{{ weatherData.main.temp | number : "1.0-0" }}°F</div>
      </div>
    </div>
    <div class="lower-data">
      <div class="more-info-label">More Information</div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min.png" alt="min" />
            <span>Min</span>
          </div>
          <div class="info-block-value">{{ weatherData.main.temp_min }}°F</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" alt="max" />
            <span>Max</span>
          </div>
          <div class="info-block-value">{{ weatherData.main.temp_max }}°F</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png" alt="humid" />
            <span>Humidity</span>
          </div>
          <div class="info-block-value">{{ weatherData.main.humidity }}</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.jfif" alt="min" />
            <span>Wind</span>
          </div>
          <div class="info-block-value">{{ weatherData.wind.speed }}km/hr</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="upper-data">
      <img src="../assets/cold.jfif" alt="cold" *ngIf="12 > 15" />
      <img src="../assets/warm.jfif" alt="warm" *ngIf="14 < 15" />

      <div class="weather-data">
        <div class="location">Munich</div>
        <div class="temp">{{ 10.01 | number : "1.0-0" }}°C</div>
      </div>
    </div>
    <div class="lower-data">
      <div class="more-info-label">More Information</div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min.png" alt="min" />
            <span>Min</span>
          </div>
          <div class="info-block-value">14°C</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" alt="max" />
            <span>Max</span>
          </div>
          <div class="info-block-value">18°C</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png" alt="humid" />
            <span>Humidity</span>
          </div>
          <div class="info-block-value">77%</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png" alt="min" />
            <span>Wind</span>
          </div>
          <div class="info-block-value">11km/hr</div>
        </div>
      </div>
    </div>
  </div>
</body>

<router-outlet></router-outlet>
